<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			
			<div class="col-lg-8 col-lg-offset-2">
				<img class="img-responsive profile-pic" src="img/profile.png" alt="">
				<div class="intro-text">
					<!--<span class="name">Gigi Ho</span>-->
					<!--<hr class="star-light">-->
					<span class="skills">Hi! My name is Gigi. Here you can find a showcase of my recent work as a developer, an UX designer and a HCI researcher. Thanks for visiting!</span>
				</div>
			</div>
		</div>
	</div>
</header>

<section id="summary">
	<div ui-view></div>
	
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	   <div class="btn-group radio-menu center-block">
        <label class="btn" ng-model="filterProp.tags" uib-btn-radio="">All</label>
        <label class="btn" ng-model="filterProp.tags" uib-btn-radio="'ux'">UX</label>
        <label class="btn" ng-model="filterProp.tags" uib-btn-radio="'code'">Code</label>
				<label class="btn" ng-model="filterProp.tags" uib-btn-radio="'research'">Research</label>
    </div>

	<div class="container">
		<div class="row portfolio-list">
			<div ng-repeat="project in projects | filter: filterProp :true | orderBy:orderProp" class="col-sm-4 portfolio-item">
				<a href="#/projects/{{project.id}}" class="portfolio-link" data-toggle="modal">

					<div class="fixed-ratio-thumbnail thumbnail-4-to-3">
						<div class="img-as-bg" style="background-image: url({{project.imageUrl}})"></div>
					</div>

					<div class="thumbnail-caption">
						<div class="item-title">{{project.name}}</div>
						<div class="item-description">{{project.desc}}</div>
					</div>

				</a>

			</div>

		</div>
	</div>
</section>
